<!-- highway-video-=container A-->
<!-- {{include.video}} -->
<div id="video-container">
  <div class="video-overlay"></div>
  <div class="video-content">
    <div class="inner">
      <h1>{{ include.video.title }}</h1>
      <p>{{ include.video.caption }}</p>
      <div class="scroll-icon">
        <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="{{ "/assets/highway/img/scroll-icon.png" | relative_url }}" alt=""></a>
      </div>    
    </div>
  </div>
  <video autoplay="" loop="" muted>
    <source src="{{ include.video.videoURL }}" type="video/mp4" />
  </video>
</div>
<!-- highway-video-=container Z-->
