<div class="full-screen-portfolio" id="portfolio">
	<div class="container-fluid">
{% for item in section.items %}
    <div class="col-md-4 col-sm-6">
			<div class="portfolio-item">
				<a href="{{ item.imageURL }}" data-lightbox="image-1"><div class="thumb">
					<div class="hover-effect">
						<div class="hover-content">
							<h1>{{ item.title }} </h1>
							<p>{{ item.caption }}</p>
						</div>
					</div>
					<div class="image">
						<img src="{{ item.imageThumbURL }}">
					</div>
				</div></a>
			</div>
		</div>
{% endfor %}
	</div>
</div>
