<!--highway-blog-layout A
{{ section }}
-->
<div class="blog-entries">
  <div class="container">{% if section.sidebar_left %}
    <div class="col-md-3">
      <div class="side-bar">
      </div>
    </div>{% endif %}
    <div class="col-md-{% if section.sidebar_left and section.sidebar_right %}6{% elsif section.sidebar_left or section.sidebar_right %}9{% else %}12{% endif %}">
    </div>{% if section.sidebar_right %}
    <div class="col-md-3">
      <div class="side-bar">
      </div>
    </div>{% endif %}
  </div>
</div>
<!--highway-blog-layout Z-->
