<!--highway-blog-layout A 201809271341
{{ section }}
-->
<div class="blog-entries">
  <div class="container">{% for sidebar_section in section.sidebar_left %}
    <div class="col-md-3">
      <div class="side-bar">
      </div>
    </div>{% endfor %}
    <div class="col-md-{% if section.sidebar_left[0] and section.sidebar_right[0] %}6{% elsif section.sidebar_left[0] or section.sidebar_right[0] %}9{% else %}12{% endif %}">
    </div>{% for sidebar_section in section.sidebar_right %}
    <div class="col-md-3">
      <div class="side-bar">
      </div>
    </div>{% endfor %}
  </div>
</div>
<!--highway-blog-layout Z-->
