<!-- lens-head START -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--[if lte IE 8]><script src="{{ "/assets/lens/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ "/assets/lens/css/main.css" | relative_url }}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/lens/css/ie8.css" | relative_url }}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/lens/css/ie9.css" | relative_url }}" /><![endif]-->
    <noscript><link rel="stylesheet" href="{{ "/assets/lens/css/noscript.css" | relative_url }}" /></noscript>
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
  </head>
<!-- lens-head END -->
